<div class="verd">

    <br>

    <h2>Introdueix l'ID d'un <strong>equipament</strong> per saber la seva informació:</h2>

    <!--<form name="getConce">
        <label for="idConce">ID: </label>
        <input type="text" name="idConce" id="idConce" [(ngModel)]="idConce"> <br> <br>
        <button (click)="trobaConce()" type="submit" class="btn btn-success">Submit</button>
    </form>

    <p>ID: {{conces.id}}</p>
    <p>Nom: {{conces.name}}</p>
    <p>Població: {{conces.poblacio}}</p>
    <p>Adreça: {{conces.adresa}}</p>
    <p>Telèfon: {{conces.telefon}}</p>-->
    
    <form name="getEquipament">
        <label for="idEq">ID: </label>
        <input type="text" name="idEq" id="idEq" [(ngModel)]="idEq"> <br> <br>
        <button (click)="trobaEquipament()" type="submit" class="btn btn-success">Submit</button>
    </form>

    <p>ID: {{equipament.id}}</p>
    <p>Nom: {{equipament.name}}</p>
    <p>Combustible: {{equipament.combustible}}</p>
    <p>Potència: {{equipament.potencia}}</p>
    <p>Tracció: {{equipament.traccio}}</p>
    <p>Climatitzador: {{equipament.climatitzador}}</p>
    <p>Llantes de 17": {{equipament.llantes17}}</p>
    <p>Llantes de 18": {{equipament.llantes18}}</p>
    <p>Llantes de 19": {{equipament.llantes19}}</p>
    <p>Navegador: {{equipament.navegador}}</p>
    <p>Pintura metalitzada": {{equipament.pintura}}</p>
    <p>Equip multimèdia de 6": {{equipament.multimedia6}}</p>
    <p>Equip multimèdia de 9": {{equipament.multimedia9}}</p>

    <br>
    
</div>
