

  <button (click)="listButton()" class="btn btn-default">Mostra tots els clients</button>
  <div>
          <div *ngFor='let client of clients'>
            -->-->-->-->-->-->-->-->-->-->-->-->-->-->-->-->
              <p>Client amb Id: {{client.id}}</p>
            -->-->-->-->-->-->-->-->-->-->-->-->-->-->-->-->
              <p>
                Dni: {{client.dni}}
              </p> 
              <p>
                Nom: {{client.nom}}
              </p> 
              <p>
                Cognoms: {{client.cognoms}}
              </p> 
              <p>
                Correu: {{client.correu}}
              </p> 
              <p>
                Direccio: {{client.direccio}}
              </p> 
              <p>Telefon: {{client.telefon}} </p> 
            <br />
            <br />
         </div>
  </div>
  