<!DOCTYPE html>
<html>
<head>
  <link href="/src/app/cotxe/cotxe.css"
        rel="stylesheet" type="text/css">
  
</head>
<body>

  
</body>
<!--
<body>
 <nav>
    <a routerLink="/registClient" routerLinkActive="active">Registrar un Client</a><br /><br />
    <a routerLink="/updateClient" routerLinkActive="active">Modificar un registre</a><br /><br />
    <a routerLink="/deleteClient" routerLinkActive="active">Eliminar un registre</a><br /><br />
</nav>
 <!--<router-outlet></router-outlet>
</body>
    -->


</html>