<html>
    <head>
        <style>
html {background-color: skyblue;}
</style>
    </head>
<h1>
    {{title}}
</h1>

    <div id="cssmenu">
        <ul>
          <li class="has-sub ">
            <a routerLink="/client" routerLinkActive="active" href="index.html">Client</a>
            <ul>
              <li><a routerLink="/regist" routerLinkActive="active">Registrar Client</a></li>
              <li><a routerLink="/update" routerLinkActive="active">Modificar Client</a></li>
              <li><a routerLink="/delete" routerLinkActive="active">Eliminar Client</a></li>
            </ul>
          </li>
          <li class="has-sub "><a routerLink="/marca" routerLinkActive="active">Marca</a>
            <ul>
                <li><a routerLink="/addMarca" routerLinkActive="active">Afegir Marca</a></li>
                <li><a routerLink="/updateMarca" routerLinkActive="active">Actualitzar Marca</a></li>
                <li><a routerLink="/listMarca" routerLinkActive="active">Mostrar les Marques</a></li>
                <li><a class="delete" routerLink="/deleteMarca" routerLinkActive="active">Esborrar una marca</a></li>
            </ul>
        </li>
        <li><a href="#" routerLink="/model" routerLinkActive="active" >Model</a></li>
        <li><a href="#" routerLink="/equipament" routerLinkActive="active" >Equipaments</a></li>
        </ul>
    </div>
    
    

<router-outlet></router-outlet>
</html>