<html>

	<head>


	</head>
	<body>
        <h2>Que vols fer?</h2>
       
        
        
       <button><a routerLink="../addMarca" routerLinkActive="active">Afegir una marca</a></button>
        <button><a routerLink="../updateMarca" routerLinkActive="active">Actualitzar una marca</a></button>
        <button><a routerLink="../listMarca" routerLinkActive="active">Llistar una marca</a></button>
        <button><a routerLink="../deleteMarca" routerLinkActive="active">Esborrar una marca</a></button>
    </body>
</html>